body {
    background: black;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    overflow: hidden;
}

#text-container {
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 40%;
    width: 100%;
}

/* تشويش */
#glitch-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

/* صور الـ GIF */
#gif-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#glitch-gif, #static-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes flicker {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
}

#static-gif {
    animation: flicker 0.1s infinite alternate;
}